@switch (layout()) {
  @case ('editorial') {
    <app-template-editorial [vm]="vm" />
  }
  @case ('pop') {
    <app-template-pop [vm]="vm" />
  }
  @case ('vidriera') {
    <app-template-vidriera [vm]="vm" />
  }
  @case ('ofertas') {
    <app-template-ofertas [vm]="vm" />
  }
  @case ('fichero') {
    <app-template-fichero [vm]="vm" />
  }
  @case ('mosaico') {
    <app-template-mosaico [vm]="vm" />
  }
  @case ('nova') {
    <app-template-nova [vm]="vm" />
  }
  @case ('neon') {
    <app-template-neon [vm]="vm" />
  }
  @case ('caramelo') {
    <app-template-caramelo [vm]="vm" />
  }
  @case ('cohete') {
    <app-template-cohete [vm]="vm" />
  }
  @case ('jungla') {
    <app-template-jungla [vm]="vm" />
  }
  @case ('crayon') {
    <app-template-crayon [vm]="vm" />
  }
  @default {
    <app-template-ruth [vm]="vm" />
  }
}
