@switch (layout()) {
  @case ('editorial') {
    <app-template-editorial [vm]="vm" />
  }
  @case ('pop') {
    <app-template-pop [vm]="vm" />
  }
  @case ('vidriera') {
    <app-template-vidriera [vm]="vm" />
  }
  @case ('ofertas') {
    <app-template-ofertas [vm]="vm" />
  }
  @case ('fichero') {
    <app-template-fichero [vm]="vm" />
  }
  @case ('mosaico') {
    <app-template-mosaico [vm]="vm" />
  }
  @case ('nova') {
    <app-template-nova [vm]="vm" />
  }
  @case ('neon') {
    <app-template-neon [vm]="vm" />
  }
  @case ('caramelo') {
    <app-template-caramelo [vm]="vm" />
  }
  @case ('cohete') {
    <app-template-cohete [vm]="vm" />
  }
  @case ('jungla') {
    <app-template-jungla [vm]="vm" />
  }
  @case ('crayon') {
    <app-template-crayon [vm]="vm" />
  }
  @case ('boutique') {
    <app-template-boutique [vm]="vm" />
  }
  @case ('feria') {
    <app-template-feria [vm]="vm" />
  }
  @case ('periodico') {
    <app-template-periodico [vm]="vm" />
  }
  @case ('retro') {
    <app-template-retro [vm]="vm" />
  }
  @case ('suizo') {
    <app-template-suizo [vm]="vm" />
  }
  @case ('cancha') {
    <app-template-cancha [vm]="vm" />
  }
  @case ('cine') {
    <app-template-cine [vm]="vm" />
  }
  @case ('playa') {
    <app-template-playa [vm]="vm" />
  }
  @case ('pasarela') {
    <app-template-pasarela [vm]="vm" />
  }
  @case ('baraja') {
    <app-template-baraja [vm]="vm" />
  }
  @case ('liquido') {
    <app-template-liquido [vm]="vm" />
  }
  @case ('kinetico') {
    <app-template-kinetico [vm]="vm" />
  }
  @case ('orbita') {
    <app-template-orbita [vm]="vm" />
  }
  @case ('estela') {
    <app-template-estela [vm]="vm" />
  }
  @case ('origami') {
    <app-template-origami [vm]="vm" />
  }
  @case ('historias') {
    <app-template-historias [vm]="vm" />
  }
  @case ('portal') {
    <app-template-portal [vm]="vm" />
  }
  @case ('cascada') {
    <app-template-cascada [vm]="vm" />
  }
  @case ('acordeon') {
    <app-template-acordeon [vm]="vm" />
  }
  @case ('persiana') {
    <app-template-persiana [vm]="vm" />
  }
  @case ('collage') {
    <app-template-collage [vm]="vm" />
  }
  @case ('foco') {
    <app-template-foco [vm]="vm" />
  }
  @case ('cinta') {
    <app-template-cinta [vm]="vm" />
  }
  @case ('ruleta') {
    <app-template-ruleta [vm]="vm" />
  }
  @case ('cubo') {
    <app-template-cubo [vm]="vm" />
  }
  @case ('espejo') {
    <app-template-espejo [vm]="vm" />
  }
  @case ('teletipo') {
    <app-template-teletipo [vm]="vm" />
  }
  @default {
    <app-template-ruth [vm]="vm" />
  }
}
